[submodule "src/OnePointUI.Avalonia"]
	path = src/OnePointUI.Avalonia
	url = https://github.com/Round-Studio/OnePointUI.Avalonia.git
[submodule "src/Round.SDK"]
	path = src/Round.SDK
	url = https://github.com/Round-Studio/Round.SDK.git
[submodule "src/PeNet"]
	path = src/PeNet
	url = https://github.com/Round-Studio/PeNet.git
[submodule "src/PaperConnect"]
	path = src/PaperConnect
	url = https://github.com/Round-Studio/PaperConnect.git
